.book-card {
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
    width: 200px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}


.book-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

h1 {
    font-family: Arial, sans-serif;
    text-align: center;
}

h2 {
    font-size: 18px;
    font-weight: bold;
}

p {
    font-size: 14px;
    margin: 5px 0;
}